<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="{{ url_for('static', filename='channel.js') }}"></script>
        <title>Chat channels</title>
    </head>
    <body>
    <h1><div id="welcome"></div></h1>
    <br>
    <a id="leave" href="#">Leave channel</a>
    <br>
    <div id="channelroom">
      <textarea id="chat" rows="20" cols="100"></textarea>
      <br>
      <input type="text" id="new_message" placeholder="Type your message...">
      <button id="send">Send</button>
    </div>
    </body>
</html>
